/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-purple: #7087da;
	--color-blu: #2a5ee8;
	--color-whitetext: #f6f6f6;
	--color-sfondo: #23272a;
	--color-sfondowhite: #e3e1e1;
    --colore-cambio-bottone-nero: #313338;
    --colore-cambio-bottone-viola:#7983f5;
}
body{
    background-color:white ;
    font-family: 'Noto Sans Linear B', sans-serif;
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}
/* header */
#header{
    background-color: var(--color-blu);
    padding-top: 10px;
}
header{
    background-color: var(--color-sfondo);
}

ul{
    list-style: none;
}
li>a{
    color: var(--color-whitetext);
    display: block;
    padding: 6px 10px;
    font-weight: 400;
}
a{
     text-decoration: none;
}

li>a:hover{
    text-decoration: underline;
}

a.bottone-bianco:hover{
    color: var(--color-purple);
    box-shadow:2px 2px 10px var(--color-sfondowhite);
}

a.bottone-nero:hover{
    background-color: var(--colore-cambio-bottone-nero);
    box-shadow: 2px 2px 10px var(--colore-cambio-bottone-nero);
}

a.bottone-violetto:hover{
    background-color: var(--colore-cambio-bottone-viola);
    box-shadow: 2px 2px 10px var(--colore-cambio-bottone-nero);
}
/* hero */
#hero .container{
    min-height: 500px;
}
#hero{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-whitetext);
    text-align: center; 
    display: flex;
    flex-direction: column; 

}
.hero-content{
    max-width: 800px;
}

h2{
    padding: 20px;
    font-size: 2em;
}

.testo-header{
    padding: 0 10px;
    font-size: 1.3em;
}

.div-bottoni{
    padding: 10px;
    display: inline-block;
}

.bottone-bianco{
    
    border-radius: 50px;
    background-color: var(--color-sfondowhite);
    color: var(--color-sfondo);
    padding: 15px;
    text-decoration: none;
}

.bottone-nero{
    border-radius: 50px;
    background-color: var(--color-sfondo);
    color: var(--color-whitetext);
    padding:15px;
    text-decoration: none;
}

/* main */

main section{
    margin: 0 auto;
}

.container-main{
    padding: 100px 0;
    
}
section:nth-child(even){
    background-color: var(--color-sfondowhite);
}

.testo-main{
    font-size: 1.2em;
    padding: 50px 80px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}


.onda{
    width: 100%;
    height: 60px;
    background-image: url(../img/wave.svg);
    background-color: white;
    color: var(--color-sfondowhite);
    display: block;
}

.onda-a-rovescio{
    width: 100%;
    height: 60px;
    background-image: url(../img/wave.svg);
    background-color: white;
    color: var(--color-sfondowhite);
    transform: rotate(180deg);
    display: block;
}

.ultima-sezione{
    text-align: center;
}

.bottone-violetto{
    border-radius: 50px;
    background-color: var(--color-purple);
    color: var(--color-whitetext);
    padding:15px;
}
.div-stelline{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: auto 60% ;
    background-position: center top;   
}
.padding-ultimo-bottone{
    padding: 40px;
}
/* flex */

.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.f-center{
    justify-content: center;  
}
/* flex */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.flex{
    display: flex;
    flex-direction: row;
}

.flex-reverse{
    display: flex;
    flex-direction: row-reverse;
}
/* footer */
footer{
    background-color: var(--color-sfondo);
    color: var(--color-whitetext);
}

.bandiera{
    width: 20px;
}
.container-select{
    padding: 20px;
}
select{
    background-color: var(--color-sfondo);
    color: var(--color-whitetext);
}
.loghi-social{
    justify-content: space-between;
    padding: 20px;
}
.container-footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    padding: 20px ; 
    
}
div.container-footer >ul{
    line-height: 1.5;
}
.titoletti{
    color: var(--color-purple);
    padding: 6px 10px;
}
.dimensione-div-footer{
    width: 25%;
}

.ultimo-div-footer{
    padding: 20px 0;
    border-top: 2px solid var(--color-purple);
}
.debug{
    border: 2px solid rgb(255, 251, 251);
}